<div id="headerwrap">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h3>ULTRACOLD</h3>
                <h1>Project Showcase</h1>
                <h5>Showcasing clean commented code, following good design principles.</h5>
                <h5>Multilingual, TDD Evangelist.</h5>				
            </div>
            <!-- <div class="col-lg-8 col-lg-offset-2 himg">
                <img src="{{ "/assets/img/browser.png" | prepend: site.baseurl }}" class="img-responsive">
            </div> -->
        </div><!-- /row -->
    </div> <!-- /container -->
</div><!-- /headerwrap -->
